# --- BACKEND (PHP) ---
backend/OLD/
backend/.vscode/
backend/config.php      

# --- FRONTEND (React + Vite) ---
frontend/node_modules/
frontend/.env

# env files
.env
.env.local
.env.*.local

# --- MISC ---
node_modules/
/dist/
dist/
.env

# --- SYSTEM / IDE ---
.DS_Store
Thumbs.db
*.swp
.vscode/